<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicação de Chat em Tempo Real com WebSocket">
    <meta name="author" content="Seu Nome">
    <title>Whatsapp do GB</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="chat">
        <h1>Whatsapp do GB</h1>
        <div id="messages"></div>
        <input type="text" id="message" placeholder="Digite uma mensagem..."/>
        <button onclick="sendMessage()">Enviar</button>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
